/* CSS code for index.html*/
body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    padding: 20px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}
div {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #333;
    padding: 10px 20px;
    box-sizing: border-box;


}

a {
    color: white; 
    text-decoration: none;
}

.about-us{
    display: flex;
    text-align: center;
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
    flex-direction: column;
}
.shop-now{
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
    display: inline-flex;
}
.customer-reviews{
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
}
footer {
    background-color: #333;
    padding: 10px;
    color: white;
    text-align: center;
    margin: 0px;
    width: 100%;
    box-sizing: border-box;

}

/* CSS code for products.html*/

.products{
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
}

.products td{
    border: 10px solid #ddd;
    background-color: #f9f9f9;
    text-align: center;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

.products td:hover{
    background-color: #fff;
}

.products td p {
    color:#007BFF;
    font-weight: bold;
}

.products img{
    max-width: 100%;
    margin-bottom: 10px;
    border-radius: 8px;
}

.products button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
}

.products button:hover {
    background-color: #45A049;
}

@media screen and (max-width: 768px) {
    .products td {
        display: block;
        width: 80%;
    }

}

@media screen and (max-width: 480px) {
    .products td {
        width: 80%;
    }
}

/* CSS code for contact.html*/
.contact{
    display: flex;
    text-align: left;
    background-color: #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    flex-direction: column;
}

.contact-method{
    display: block;
    background-color: #ddd;
    border-radius: 10px;
    padding: 0px;
    margin: 0px;
}

.contact a {
    color: black;
    opacity: 1.0;
}
.contact a:hover {
    color: #007BFF;
    text-decoration: underline;
}

/* CSS code for login.html*/
.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #ddd;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
}
.login label {
    display: block;
    text-align: left;
    margin: 10px 0;
    width: 18%;
}
.login input {
    display: inline-block;
    width: 18%;
    background-color: #fff;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}
.login button {
    display: inline-block;
    width: 7%;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    opacity: 0.5;
}
.login button:hover {
    background-color: #45A049;
    opacity: 1.0;
}
.login a {
    color: #007BFF;
    opacity: 1.0;
}
.login a:hover {
    color: #007BFF;
    text-decoration: underline;
}
/*Put login button on same line as password*/