/* CSS code for index.html*/
body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    padding: 20px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}
div {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    box-sizing: border-box;


}

a {
    color: white; 
    text-decoration: none;
}

.about-us{
    display: flex;
    text-align: center;
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
    flex-direction: column;
}
.shop-now{
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
    display: inline-flex;
}
.customer-reviews{
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
}
footer {
    background-color: #333;
    padding: 10px;
    color: white;
    text-align: center;
    margin: 0px;
    width: 100%;
    box-sizing: border-box;

}

/* CSS code for products.html*/


/* CSS code for contact.html*/


/* CSS code for login.html*/
.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}
.login label {
    display: block;
    margin: 10px;
}
.login input {
    background-color: #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    /*add placeholder text in the username and password fields*/
}
.login button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    opacity: 0.5;
}
.login button:hover {
    background-color: #45A049;
    margin: 10px;
}
.login a {
    color: #007BFF;
    opacity: 1.0;
}
.login a:hover {
    color: #007BFF;
    text-decoration: underline;
}
/*Style the signup link with a contrasting color of #007BFF (blue), underline on hover, and
a margin of 10px*/
/*Put login button on same line as password*/
/*Fix widths of username, password and login boxes*/
